#heading {
    color: red;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px;
}

.search-wrapper {
    display: flex;
    position: relative;
    height: 50px;
    margin: auto;
    flex: 1;
    justify-content: center;
}

input {
    width: 50%;
}

.search-icon {
    height: 30px;
    position: absolute;
    right: 26%;
    top: 10px;
}